.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Remove underline from button links */
.btn-blue {
  background-color: #007bff;
  /* Blue */
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-blue:hover {
  background-color: #0056b3;
  /* Darker blue */
}


/* Hover animation for each course box */
.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* Button full width support */
.full {
  display: inline-block;
  padding: 12px 20px;
  background-color: #007bff;
  color: white !important;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none !important;
}


/* ---------------------------------- */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.btn-sm {
  text-decoration: none !important;
}